{% extends '::base.html.twig' %}

{% block cabecera %}EQUIPO{% endblock %}
{% block cuerpo %}
    <form>
        <input id="filterTable-input" data-type="search">
    </form>
    
    <a href="{{ path('equipo_new') }}" class="ui-btn ui-btn-inline ui-icon-plus ui-btn-icon-left">Nuevo Equipo</a>
   
    <table data-role="table" id="movie-table" data-filter="true" data-input="#filterTable-input" class="ui-responsive table-stripe">
        <thead>
            <tr>
                <th data-priority="persist">Codigo</th>
                <th data-priority="2">Nombre</th>
                <th data-priority="3">Marca</th>
                <th data-priority="4"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.marca }}</td>
                <td>
                    <span><a href="{{ path('equipo_edit', { 'id': entity.idequipo }) }}" class="ui-btn ui-icon-edit ui-btn-icon-notext ui-corner-all">edit</a></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
                