{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Equipo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idequipo</th>
                <td>{{ entity.idequipo }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ entity.marca }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('equipo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('equipo_edit', { 'id': entity.idequipo }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
